on: [push, pull_request]

name: CI

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable

    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}

      # Build
      - run: cargo build --all

      # Test
      - run: cargo test --all

  fmt-clippy-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - run: cargo clippy --all-targets -- -D warnings
      - run: cargo fmt --all -- --check
